<div id="code">
<blockquote>
    <h1>READ THIS!</h1>
    <p>This is a new addition to the site and community, please read in its entirety.</p>
</blockquote>
	<header>
		<h1>Frog Code</h1>
	</header>
	<section>

<div class="clten-content">

<div style="font-size: 1.2em; margin: 20px; margin-bottom: 40px;">
As the Charlotte Enlightened community continues to grow, we need to set a good example for all players who join our community and play Ingress around us. This Frog Code has come about as a general “honor code” for our community. By accepting this honor code, you are agreeing to join a safe and collaborative community in order to make larger things happen.
</div>

<h2>Charlotte Enlightened Mission Statement</h2>

<p>The Charlotte Enlightened Community aims to promote healthy, fair gameplay and provide game-related help and a safe social atmosphere for all local Enlightened.</p>

<p>This community has three main goals:</p>

<ul>
<li>Frequent, big triangles over KILO-10, KILO-11 and beyond</li>
<li>Smurf TEARS!</li>
<li>Fun, social Ingressing </li>
</li>
</ul>
<br/>

<h2>The Frog Code</h2>

<p><em>Last modified 3/27/2016</em></p>

<p>The community is moderated by a group of experienced players who have volunteered their time to help resolve issues and keep the community safe for everyone.</p>

<p>To keep with the goals outlined in the mission statement, we have made some ground rules for players in the community:</p>

<ul>
<li>Do not cheat at Ingress! You should read and abide by the Niantic Terms of Service. That means no mule accounts or multiple accounts, no modified game clients, no spoofing, no playing your friend’s or family member’s account when they’re not actually there (or EVER), etc.</li>

<li>Harassment of your fellow Ingress players is strictly forbidden. Any threats, stalking, or unwanted attention from a fellow player should be reported to the mod team (and if necessary, the mod team will assist local authorities if an investigation occurs).</li>

<li>Your fellow players can be invited to participate in community and team activities, but they can’t be forced. Everyone’s got to drop a link with an ADA sometimes, but don’t hassle your fellow players verbally or with in-game actions if they won’t bring their style of play in line with yours. Everyone gets to play their own game.</li>

<li>Don’t play against your own team by deliberately taking actions that negatively impact the regional score, or interfere with major team ops.</li>

<li>Ingress is for everyone. Chat is for everyone. No racism, no sexism, no other -isms, and no harassment based on such. </li>

<li>Like Ingress, the GroupMe chat rooms are officially open to ages 13 and up, so dial back the cursing, especially in General chat. Area chats may have different standards depending on membership. The :dino: emoji is an eloquent little critter and it’s the commonly used chat “curse word”.</li>

<li>All official Charlotte Enlightened GroupMe chatrooms should be safe for work. NSFW ("not safe for work") content may only be shared in private groups where all members have agreed up front to that standard.</li>

<li>Like Vegas, what happens in Frog Chat stays in Frog Chat. Don’t screenshot and share, unless needed to show a conduct violation to the mod team.</li>

<li>Don't share team strategy, plans, or chat content with Resistance players. Duh! </li>

<li>That said, Resistance players are just other people who love this game. Crush them mercilessly in the game but be friendly and respectful in real life, just as you are with your own teammates. The mod team is in contact with local Resistance administrators and will work with them on issues such as cross-faction harassment and to resolve instances of cheating.</li>

<li>Finally, bring your issues to a member of the mod team so they can be discussed and resolved with a minimum of disruption to the community -- and don’t accuse your teammates of cheating or TOS violations without cause, or spread unsubstantiated rumors of such activities. (Note: when reporting Frog Code violations or cheating to the mod team, please bring documentation (chat screenshots, intel, photos) if possible. If you suspect cheating but need technical help gathering evidence the mod team may be able to help. Documentation will only be shared outside the mod team if there is a need to report an account to Niantic or to report a dangerous situation to  local authorities.)</li>
</ul>


<p>Breaking any of the rules above may result in a temporary or permanent ban from this community, at the discretion of the mod team. Users agree to abide by the rules of the community upon sign-up and are assumed to be aware of the contents of the Frog Code and the Niantic TOS. Generally a warning will be the first step if there is an issue followed by an escalation only if the problem continues, however the community reserves the right to ban a user immediately if the problem is severe.</p>

<h2>The Mod Team Code</h2>

<p>Mod team members will undergo review every six months, and may step down at any time.  Reviews will involve anonymous input from the community so agents can freely express any concerns they may have with specific mods.  New mod team candidates can be nominated by the existing mods from among L10+ players who have been consistent participants in the community, and will be approved by a plurality “yes” vote of the “Secure” verified group. </p>

<p>Mod roles include: maintaining a presence in official chats, responding to concerns raised by community members, assisting with technical issues on clten.com if able, reaching out to and verification of new users, and fostering community spirit by organizing social events or ops.  </p>

<p>The mod team needs to work together and stay in touch with the community.</p>

<ul>
<li>Be active in the community</li>
<li>Trust each other and keep all community-related discussions visible to other mods except if there should be a case where an elected mod is causing an issue</li>
<li>Be respectful of each other</li>
<li>Listen to feedback from other mods, and take their opinions into account</li>
<li>Put the community first before their personal issues</li>
<li>Set an example by following the Frog Code themselves</li>
</ul>

<a href="/secure/frog_code/agree" class="button">I Accept The Frog Code</a>
<a href="/logout" class="button btn-danger">No Thanks</a>
			
</div>
	
	</section>
</div>
