<div id="community">
	<header>
		<h1>Charlotte Enlightened Google+ Community</h1>
	</header>
	<aside>
		<% IF vars.user %>
		<% INCLUDE 'main_column.html' %>
		<% END %>
	</aside>
	<section>
		<p>Our community on Google+ is a great resource for connecting with other area agents, as well as planning farms and large scale ops.</p>
		<div class="new clten-content">
			<h2>Code of Conduct</h2>
			<p>When you signed up for this community, you agreed to a code of conduct.  You can review this <a href="/secure/frog_code">Frog Code</a> at any time.</p>
		<div class="new clten-content">
			<h2>New Agents...</h2>
			<p>This community is used to verify your Google and Ingress Enlightened status. Once you have been added here, please post a note and introduce to yourself to the community and provide us with your Agent Name, Current Level and Area(s) of Play. Upon verification you will be added to our local community of 200+ verified agents. We look forward to working with you soon!</p>
			<a href="https://plus.google.com/communities/113054188620775989386" class="button" target=_blank>Charlotte Enlightened G+ - Agent Verification</a> </div>
		<div class="existing clten-content">
			<h2>Existing Members...</h2>
			<p>Existing members of the group may access it directly from this link...</p>
			<a href="https://plus.google.com/communities/115214812612542248670" class="button" target=_blank>Charlotte Enlightened G+</a> </div>
	</section>
        <section>
            <div>
                <h2>Community Moderators</h2>
                <ul>
                    <li>Ryan (SCSIBusDriver)</li>
                    <li>Osvaldo (ArmbarAssasin90)</li>
                    <li>Holly (Bookwyrm1216)</li>
                    <li>Dane (ParzivaI)</li>
                    <li>Kevin (KPO)</li>
                    <li>Cynthia (Sparkyth1derGrl)</li>
                    <li>Joseph (Lydar)</li>
                    <li>Kevin (philote)</li>
                </ul>
            </div>
        </section>
</div>
