<div id="farms">

<header>
<h1>Farms and Missions</h1>
</header>

<aside>
<% IF vars.user %><% INCLUDE 'main_column.html' %><% END %>
</aside>

<section>
<h2>Farms</h2>
<ul class="bullet-list">
	<li><div class="name"><a href="/secure/farms/ballantyne">Ballantyne</a></div></li>
	<li><div class="name"><a href="/secure/farms/belmont">Belmont (Greenwood Cemetery)</a></div></li>
	<li><div class="name"><a href="/secure/farms/davidson">Davidson College</a></div></li>
	<li><div class="name"><a href="/secure/farms/elmwood">Elmwood Cemetery</a></div></li>
	<li><div class="name"><a href="/secure/farms/evergreen">Evergreen Cemetery</a></div></li>
	<li><div class="name"><a href="/secure/farms/freedom">Freedom (Forest Lawn West)</a></div></li>
	<li><div class="name"><a href="/secure/farms/lawyers">Lawyers (Sunset Memorial Gardens)</a></div></li>
	<li><div class="name"><a href="/secure/farms/queens">Queens College</a></div></li>
	<li><div class="name"><a href="/secure/farms/salisbury">Salisbury</a></div></li>
	<li><div class="name"><a href="/secure/farms/sharon">Sharon (Sharon Memorial Gardens)</a></div></li>
	<li><div class="name"><a href="/secure/farms/southend">Southend</a></div></li>
	<li><div class="name"><a href="/secure/farms/steelecreek">Steele Creek Presbyterian</a></div></li>
</ul>

<h2>Missions</h2>
<ul class="bullet-list">
	<li><div class="name"><a href="/secure/missions/clten">Charlotte Enlightened</a></div></li>
</ul>
</section>

</div>