<div id="farm">
	<header>
		<h1><a href="/secure/farms">Farms</a></h1>
	</header>
	<aside>
		<% IF vars.user %>
		<% INCLUDE 'main_column.html' %>
		<% END %>
	</aside>
	<section>
		<div class="clten-row">
			<div class="left">
				<div class="farm">Steele Creek Presbyterian Church</div>
				<div class="address">7407 Steele Creek Rd, Charlotte, NC 28217</div>
				<div class="hours">Dawn to Dusk</div>
				<div class="notes">None</div>
				<div class="buttons"> <a href="https://goo.gl/maps/uLGkM" target=_blank>Google Map</a> <a href="https://www.ingress.com/intel?ll=35.183873,-80.955972&z=18﻿﻿﻿﻿﻿" target=_blank>Intel Map</a> </div>
			</div>
			<div class="right">
				<div class="map clten-tn"> <a href="/images/farms/route_steelecreek.jpg" class="colorbox"><img src="/images/farms/route_steelecreek.jpg"/></a> </div>
			</div>
		</div>
	</section>
</div>
