<div id="farm">
	<header>
		<h1><a href="/secure/farms">Farms</a></h1>
	</header>
	<aside>
		<% IF vars.user %>
		<% INCLUDE 'main_column.html' %>
		<% END %>
	</aside>
	<section>
		<div class="clten-row">
			<div class="left">
				<div class="farm">Ballantyne Corporate Park</div>
				<div class="address">13507 Ballantyne Corporate Pl<br>
					Charlotte, NC 28277 </div>
				<div class="hours">8am to 9pm</div>
				<div class="notes">None</div>
				<div class="buttons"> <a href="https://goo.gl/maps/Lh6ef" target=_blank>Google Map</a> <a href="https://www.ingress.com/intel?ll=35.056251,-80.840428&z=16﻿﻿﻿" target=_blank>Intel Map</a> </div>
			</div>
			<div class="right">
				<div class="map clten-tn"><a href="h/images/farms/route_ballantyne.jpg" class="colorbox"><img src="/images/farms/route_ballantyne.jpg"/></a></div>
			</div>
		</div>
	</section>
</div>
