<div id="farm">
	<header>
		<h1><a href="/secure/farms">Farms</a></h1>
	</header>
	<aside>
		<% IF vars.user %>
		<% INCLUDE 'main_column.html' %>
		<% END %>
	</aside>
	<section>
		<div class="clten-row">
			<div class="left">
				<div class="farm">Salisbury, NC</div>
				<div class="address">E Innes St & N Main St, Salisbury, NC 28144</div>
				<div class="hours">24hrs</div>
				<div class="notes">None</div>
				<div class="buttons"> <a href="http://goo.gl/maps/ntac1" target=_blank>Google Map</a> <a href="http://www.ingress.com/intel?ll=35.666998,-80.467772&z=16﻿﻿﻿﻿﻿﻿" target=_blank>Intel Map</a> </div>
			</div>
			<div class="right">
				<div class="map clten-tn"> <a href="/images/farms/route_salisbury.jpg" class="colorbox"><img src="/images/farms/route_salisbury.jpg"/></a> </div>
			</div>
		</div>
	</section>
</div>
