<div id="farm">
	<header>
		<h1><a href="/secure/farms">Farms</a></h1>
	</header>
	<aside>
		<% IF vars.user %>
		<% INCLUDE 'main_column.html' %>
		<% END %>
	</aside>
	<section>
		<div class="clten-row">
			<div class="left">
				<div class="farm">Forest Lawn Cemetery (Freedom)</div>
				<div class="address">4601 Freedom Drive<br>
					Charlotte, NC 28208</div>
				<div class="hours">Dawn to Dusk</div>
				<div class="notes">None</div>
				<div class="buttons"> <a href="http://goo.gl/maps/4zMuH" target=_blank>Google Map</a> <a href="http://www.ingress.com/intel?ll=35.255778,-80.912611&z=17﻿" target=_blank>Intel Map</a> </div>
			</div>
			<div class="right">
				<div class="map clten-tn"> <a href="/images/farms/route_freedom.jpg" class="colorbox"><img src="/images/farms/route_freedom.jpg"/></a> </div>
			</div>
		</div>
	</section>
</div>
