<div id="farm">
	<header>
		<h1><a href="/secure/farms">Farms</a></h1>
	</header>
	<aside>
		<% IF vars.user %>
		<% INCLUDE 'main_column.html' %>
		<% END %>
	</aside>
	<section>
		<div class="clten-row">
			<div class="left">
				<div class="farm">Sharon Memorial Gardens (Sharon)</div>
				<div class="address">5716 Monroe Road<br>
					Charlotte, NC 28212</div>
				<div class="hours">8am to 9pm</div>
				<div class="notes">None</div>
				<div class="buttons"> <a href="http://goo.gl/maps/Mx1pE" target=_blank>Google Map</a> <a href="http://www.ingress.com/intel?ll=35.184182,-80.770218&z=16﻿﻿﻿" target=_blank>Intel Map</a> </div>
			</div>
			<div class="right">
				<div class="map clten-tn"><a href="/images/farms/route_sharon.jpg" class="colorbox"><img src="/images/farms/route_sharon.jpg"/></a></div>
			</div>
		</div>
	</section>
</div>
