<div id="farm">
	<header>
		<h1><a href="/secure/farms">Farms</a></h1>
	</header>
	<aside>
		<% IF vars.user %>
		<% INCLUDE 'main_column.html' %>
		<% END %>
	</aside>
	<section>
		<div class="clten-row">
			<div class="left">
				<div class="farm">Southend</div>
				<div class="address">1801 South Blvd, Charlotte, NC 28203</div>
				<div class="hours">24hrs</div>
				<div class="notes">Avoid rush hour.</div>
				<div class="buttons"> <a href="https://goo.gl/maps/coc2R" target=_blank>Google Map</a> <a href="http://www.ingress.com/intel?ll=35.209003,-80.854118&z=16﻿﻿﻿﻿﻿" target=_blank>Intel Map</a> </div>
			</div>
			<div class="right">
				<div class="map clten-tn"> <a href="/images/farms/route_southend.jpg" class="colorbox"><img src="/images/farms/route_southend.jpg"/></a> </div>
			</div>
		</div>
	</section>
</div>
