<div id="farm">
	<header>
		<h1><a href="/secure/farms">Farms</a></h1>
	</header>
	<aside>
		<% IF vars.user %>
		<% INCLUDE 'main_column.html' %>
		<% END %>
	</aside>
	<section>
		<div class="clten-row">
			<div class="left">
				<div class="farm">Sunset Memorial Gardens (Lawyers)</div>
				<div class="address">8901 Lawyers Rd, Mint Hill, NC 28227</div>
				<div class="hours">Dawn to Dusk</div>
				<div class="notes">None</div>
				<div class="buttons"> <a href="https://goo.gl/maps/kdvTP" target=_blank>Google Map</a> <a href="https://www.ingress.com/intel?ll=35.189919,-80.692681&z=18﻿﻿﻿﻿" target=_blank>Intel Map</a> </div>
			</div>
			<div class="right">
				<div class="map clten-tn"> <a href="/images/farms/route_lawyers.jpg" class="colorbox"><img src="/images/farms/route_lawyers.jpg"/></a> </div>
			</div>
		</div>
	</section>
</div>
