<div id="farm">
<header>
	<h1>Farms</h1>
</header>
<aside>
		<% IF vars.user %>
		<% INCLUDE 'main_column.html' %>
		<% END %>
	</aside>
<section>
	<div class="clten-row">
		<div class="left">
			<div class="farm">Evergreen</div>
			<div class="address">1845 Progress Ln, Charlotte, NC 28205</div>
			<div class="buttons">
				<a href="https://goo.gl/maps/0SFTn" target=_blank>Google Map</a>
				<a href="https://www.ingress.com/intel?ll=35.209914,-80.771887&z=17" target=_blank>Intel Map</a>
			</div>
		</div>
		<div class="right">
			<div class="map clten-tn">
				<a href="/images/farms/route_evergreen.jpg" class="colorbox"><img src="/images/farms/route_evergreen.jpg"/></a>
			</div>
		</div>
	</div>
	</section>
</div>
