<div id="farm">
	<header>
		<h1><a href="/secure/farms">Farms</a></h1>
	</header>
	<section>
		<div class="clten-row">
			<div class="left">
				<div class="farm">Elmwood (Uptown)</div>
				<div class="address">700 W 6th St<br>
					Charlotte, NC 28202</div>
				<div class="hours">8am to 9pm</div>
				<div class="notes">None</div>
				<div class="buttons"> <a href="http://goo.gl/maps/arQsH" class="google" target=_blank>Google Map</a> <a href="http://www.ingress.com/intel?ll=35.237229,-80.84812&z=17﻿﻿" class="intel" target=_blank>Intel Map</a> </div>
			</div>
			<div class="right">
				<div class="map clten-tn"><a href="/images/farms/route_elmwood.jpg" class="colorbox"><img src="/images/farms/route_elmwood.jpg"/></a></div>
			</div>
		</div>
	</section>
</div>
