<div id="missions">
	<header>
		<h1><a href="/secure/missions">Queen CLT</a></h1>
	</header>
	<aside>
		<% IF vars.user %>
		<% INCLUDE 'main_column.html' %>
		<% END %>
	</aside>
	<section>
		<div class="clten-row">
			<div class="left">
				
				
				<ol>
<li><div class='address'>The Harvey B. Gantt Center for African-American Arts Culture</div> <div class='buttons'><a href='https://www.ingress.com/intel?ll=35.223417,-80.848143&z=17&pll=35.223417,-80.848143' target='_blank'>Mission Intel</a> <a href='https://maps.google.com/maps?ll=35.223417,-80.848143&q=35.223417,-80.848143%20(The%20Harvey%20B.Gantt%20Center%20for%20African-American%20Arts%20Culture)' target='_blank'>Map</a></div></li>

</ol>


				
			</div>
			<div class="right">
				
				
				
				
<div class="map clten-tn"><a href="/images/missions/queenclt.png" class="colorbox"><img src="/images/missions/queenclt.png"/></a></div>





			</div>
		</div>
	</section>
</div>
