<div id="missions">
	<header>
		<h1><a href="/secure/missions">Charlotte Enlightened</a></h1>
	</header>
	<aside>
		<% IF vars.user %>
		<% INCLUDE 'main_column.html' %>
		<% END %>
	</aside>
	<section>
		<div class="clten-row">
			<div class="left">
				
				
				<ol>
				<li><div class='address'>Marshville Cemetary</div> <div class='buttons'><a href='https://www.ingress.com/mission/952aab56d3944c788c52c11c5f454a8d.1c' target='_blank'>Mission Intel</a> <a href='https://maps.google.com/maps?ll=34.999771,-80.371481&q=34.999771,-80.371481%20(Edwards%20Gravestone)' target='_blank'>Map</a></div></li>
<li><div class='address'>Wingate</div> <div class='buttons'><a href='https://www.ingress.com/mission/8a98145fae5f449ba5097d38d705401b.1c' target='_blank'>Mission Intel</a> <a href='https://maps.google.com/maps?ll=34.983723,-80.448938&q=34.983723,-80.448938%20(Wingate%20Fire%20Department%20Office)' target='_blank'>Map</a></div></li>
<li><div class='address'>Monroe</div> <div class='buttons'><a href='https://www.ingress.com/mission/ac3674d88ad34445a30e7faa8388b3f3.1c' target='_blank'>Mission Intel</a> <a href='https://maps.google.com/maps?ll=34.98348,-80.5486&q=34.98348,-80.5486%20(T.%20Walter%20Bickett)' target='_blank'>Map</a></div></li>
<li><div class='address'>Forest Lawn East</div> <div class='buttons'><a href='https://www.ingress.com/mission/92cf7d458b66408d93ae4fadf0603985.1c' target='_blank'>Mission Intel</a> <a href='https://maps.google.com/maps?ll=35.041671,-80.704114&q=35.041671,-80.704114%20(Forest%20Lawn%20Community%20Room)' target='_blank'>Map</a></div></li>
<li><div class='address'>Indian Trail</div> <div class='buttons'><a href='https://www.ingress.com/mission/e0c5a3e17b894999a2bac4120a32f9e2.1c' target='_blank'>Mission Intel</a> <a href='https://maps.google.com/maps?ll=35.075343,-80.67088&q=35.075343,-80.67088%20(Indian%20Trail%20Presbyterian)' target='_blank'>Map</a></div></li>
<li><div class='address'>Lake Park</div> <div class='buttons'><a href='https://www.ingress.com/mission/b225db65721b43b9a9fd1176b0e12722.1c' target='_blank'>Mission Intel</a> <a href='https://maps.google.com/maps?ll=35.086054,-80.637133&q=35.086054,-80.637133%20(Paul%20Wolfcale%20Recreation%20Complex)' target='_blank'>Map</a></div></li>
<li><div class='address'>Matthews</div> <div class='buttons'><a href='https://www.ingress.com/mission/c47eab4865644830aa141d675a357f0d.1c' target='_blank'>Mission Intel</a> <a href='https://maps.google.com/maps?ll=35.117745,-80.720478&q=35.117745,-80.720478%20(Matthews%20Heritage%20Museum)' target='_blank'>Map</a></div></li>
<li><div class='address'>Squirrel Lake Park</div> <div class='buttons'><a href='https://www.ingress.com/mission/8fd8488ce2464f46aff92872b974529c.1c' target='_blank'>Mission Intel</a> <a href='https://maps.google.com/maps?ll=35.097829,-80.724504&q=35.097829,-80.724504%20(Squirrel%20Lake%20Park)' target='_blank'>Map</a></div></li>
<li><div class='address'>Arboretum</div> <div class='buttons'><a href='https://www.ingress.com/mission/8f212a15488346e49dc1fb28bff57817.1c' target='_blank'>Mission Intel</a> <a href='https://maps.google.com/maps?ll=35.099686,-80.779199&q=35.099686,-80.779199%20(The%20Arboretum)' target='_blank'>Map</a></div></li>
<li><div class='address'>Ballantyne</div> <div class='buttons'><a href='https://www.ingress.com/mission/413b9e1a476d487c81124489f6866420.1c' target='_blank'>Mission Intel</a> <a href='https://maps.google.com/maps?ll=35.061826,-80.84948&q=35.061826,-80.84948%20(Sherrill%20Building)' target='_blank'>Map</a></div></li>
<li><div class='address'>Lower Ballantyne</div> <div class='buttons'><a href='https://www.ingress.com/mission/cf8b366aab6849229ee63c19e5ee4bbc.1c' target='_blank'>Mission Intel</a> <a href='https://maps.google.com/maps?ll=35.051715,-80.847207&q=35.051715,-80.847207%20(Post%20Ballantyne%20Fountain)' target='_blank'>Map</a></div></li>
<li><div class='address'>Lowry</div><div class='buttons'><a href='https://www.ingress.com/mission/f0514f14c4494aa580e827a693b35569.1c' target='_blank'>Mission Intel</a> <a href='https://maps.google.com/maps?ll=35.080877,-80.890248&q=35.080877,-80.890248%20(John%20William%20Memorial)' target='_blank'>Map</a></div></li>
<li><div class='address'>Steele Creek</div> <div class='buttons'><a href='https://www.ingress.com/mission/3c2c7d956f524942aed9d76e123fb296.1c' target='_blank'>Mission Intel</a> <a href='https://maps.google.com/maps?ll=35.183496,-80.955683&q=35.183496,-80.955683%20(Steele%20Creek%20Presbyterian%20Church%20%20%20)' target='_blank'>Map</a></div></li>
<li><div class='address'>Freedom</div> <div class='buttons'><a href='https://www.ingress.com/mission/fc68cdab569b47988ca8e6a8ba6bc9a5.1c' target='_blank'>Mission Intel</a> <a href='https://maps.google.com/maps?ll=35.258293,-80.913206&q=35.258293,-80.913206%20(Forest%20Lawn%20West%20Memorial%20Cemetery)' target='_blank'>Map</a></div></li>
<li><div class='address'>Northlake</div> <div class='buttons'><a href='https://www.ingress.com/mission/6457b1e71eeb4e789a0b898f655a9aae.1c' target='_blank'>Mission Intel</a> <a href='https://maps.google.com/maps?ll=35.348819,-80.852973&q=35.348819,-80.852973%20(Horse%20at%20PF%20Changs)' target='_blank'>Map</a></div></li>
<li><div class='address'>Oaklawn</div> <div class='buttons'><a href='https://www.ingress.com/mission/34cb6ddd237542deb04dd14a4ffc9eb3.1c' target='_blank'>Mission Intel</a> <a href='https://maps.google.com/maps?ll=35.250296,-80.847413&q=35.250296,-80.847413%20(Hawkins%20Monolith)' target='_blank'>Map</a></div></li>
<li><div class='address'>Elmwood</div> <div class='buttons'><a href='https://www.ingress.com/mission/a1552e46cc774849a17622fa41cb2919.1c' target='_blank'>Mission Intel</a> <a href='https://maps.google.com/maps?ll=35.233751,-80.847214&q=35.233751,-80.847214%20(American%20Legion%20Post%209%20Flag)' target='_blank'>Map</a></div></li>
<li><div class='address'>Elmwood Back</div> <div class='buttons'><a href='https://www.ingress.com/mission/b0cbb227b1d1423ba3be3f59d643d72f.1c' target='_blank'>Mission Intel</a> <a href='https://maps.google.com/maps?ll=35.238339,-80.848971&q=35.238339,-80.848971%20(Coddington%20Memorial)' target='_blank'>Map</a></div></li>
<li><div class='address'>1st Ward</div> <div class='buttons'><a href='https://www.ingress.com/mission/7b3e4ab2895140428a2131dc78a32090.1c' target='_blank'>Mission Intel</a> <a href='https://maps.google.com/maps?ll=35.229232,-80.83985&q=35.229232,-80.83985%20(Spirit%20Square%20Mural)' target='_blank'>Map</a></div></li>
<li><div class='address'>Trade and Tryon</div> <div class='buttons'><a href='https://www.ingress.com/mission/4d092b9b07f4477b86f9e4105c241e18.1c' target='_blank'>Mission Intel</a> <a href='https://maps.google.com/maps?ll=35.227207,-80.842903&q=35.227207,-80.842903%20(The%20Future)' target='_blank'>Map</a></div></li>
<li><div class='address'>The Green</div> <div class='buttons'><a href='https://www.ingress.com/mission/d284a70982c344ee91dd25810b554fa1.1c' target='_blank'>Mission Intel</a> <a href='https://maps.google.com/maps?ll=35.224396,-80.847017&q=35.224396,-80.847017%20(Twisted%20Metal%20Art)' target='_blank'>Map</a></div></li>
<li><div class='address'>Romare Bearden Park</div> <div class='buttons'><a href='https://www.ingress.com/mission/e7d8d8a0845d44b2a2f7091dfeed692b.1c' target='_blank'>Mission Intel</a> <a href='https://maps.google.com/maps?ll=35.226574,-80.846696&q=35.226574,-80.846696%20(Romare%20Bearden%20Ideas)' target='_blank'>Map</a></div></li>
<li><div class='address'>CPCC</div> <div class='buttons'><a href='https://www.ingress.com/mission/17803e5c2c00408fbdbb1923c6710b2c.1c' target='_blank'>Mission Intel</a> <a href='https://maps.google.com/maps?ll=35.21731,-80.828768&q=35.21731,-80.828768%20(CPCC%20Emil%20J%20Kratt)' target='_blank'>Map</a></div></li>
<li><div class='address'>South End</div> <div class='buttons'><a href='https://www.ingress.com/mission/5d2d80c0c53146948279ed3c37a162cb.1c' target='_blank'>Mission Intel</a> <a href='https://maps.google.com/maps?ll=35.212248,-80.858789&q=35.212248,-80.858789%20(East%2FWest%20Station%20-%20Blue%20Line)' target='_blank'>Map</a></div></li>
<li><div class='address'>NoDa</div> <div class='buttons'><a href='https://www.ingress.com/mission/5b2199b27ecd4e9684a242b91b873219.1c' target='_blank'>Mission Intel</a> <a href='https://maps.google.com/maps?ll=35.246714,-80.80648&q=35.246714,-80.80648%20(Fat%20City%20Lofts%20-%20South%20Face)' target='_blank'>Map</a></div></li>
<li><div class='address'>Freedom Park</div> <div class='buttons'><a href='https://www.ingress.com/mission/d89f81b1c9c14ab08c3739bfb30c6c85.1c' target='_blank'>Mission Intel</a> <a href='https://maps.google.com/maps?ll=35.187042,-80.844929&q=35.187042,-80.844929%20(Number%20Seven)' target='_blank'>Map</a></div></li>
<li><div class='address'>Queens</div> <div class='buttons'><a href='https://www.ingress.com/mission/16d07657459343cfab6fa2a5325bf16b.1c' target='_blank'>Mission Intel</a> <a href='https://maps.google.com/maps?ll=35.18843,-80.831477&q=35.18843,-80.831477%20(Madge%20Sadler%20Hayes%20Gardens)' target='_blank'>Map</a></div></li>
<li><div class='address'>Southpark Mall</div> <div class='buttons'><a href='https://www.ingress.com/mission/d8b3c2f2beba425e9728ed3cabd50c67.1c' target='_blank'>Mission Intel</a> <a href='https://maps.google.com/maps?ll=35.151674,-80.829978&q=35.151674,-80.829978%20(Fountain%20at%20South%20Park)' target='_blank'>Map</a></div></li>
<li><div class='address'>Sharon Memorial</div> <div class='buttons'><a href='https://www.ingress.com/mission/e5a148f898f04fe2bfc38d50b46b9e8a.1c' target='_blank'>Mission Intel</a> <a href='https://maps.google.com/maps?ll=35.188681,-80.772287&q=35.188681,-80.772287%20(Fountain)' target='_blank'>Map</a></div></li>
<li><div class='address'>Evergreen</div> <div class='buttons'><a href='https://www.ingress.com/mission/d46c5969d0e54afda25d41f3f4740143.1c' target='_blank'>Mission Intel</a> <a href='https://maps.google.com/maps?ll=35.211108,-80.772283&q=35.211108,-80.772283%20(Evergreen%20Cemetery)' target='_blank'>Map</a></div></li>
<li><div class='address'>Gethsemane</div> <div class='buttons'><a href='https://www.ingress.com/mission/d426c17bd58b46cf94b50f433cad5ddd.1c' target='_blank'>Mission Intel</a> <a href='https://maps.google.com/maps?ll=35.283493,-80.793322&q=35.283493,-80.793322%20(Gethsemane%20Memorial%20Gardens)' target='_blank'>Map</a></div></li>
<li><div class='address'>UNCC</div> <div class='buttons'><a href='https://www.ingress.com/mission/3bc27977ff0e45f5aeea7ff53cd66201.1c' target='_blank'>Mission Intel</a> <a href='https://maps.google.com/maps?ll=35.312068,-80.742626&q=35.312068,-80.742626%20(Portal%20Uncc)' target='_blank'>Map</a></div></li>
<li><div class='address'>Harrisburg</div> <div class='buttons'><a href='https://www.ingress.com/mission/8ee675b4f9344dc58a9d24b36f30e896.1c' target='_blank'>Mission Intel</a> <a href='https://maps.google.com/maps?ll=35.3205,-80.665398&q=35.3205,-80.665398%20(Providence%20Baptist%20Church%20)' target='_blank'>Map</a></div></li>
<li><div class='address'>Concord</div> <div class='buttons'><a href='https://www.ingress.com/mission/0359c38614bb49f299aa61392433d830.1c' target='_blank'>Mission Intel</a> <a href='https://maps.google.com/maps?ll=35.408672,-80.578859&q=35.408672,-80.578859%20(Rotary%20Square%20Fountain)' target='_blank'>Map</a></div></li>
<li><div class='address'>Bain</div> <div class='buttons'><a href='https://www.ingress.com/mission/01781db7b81d44e585c0d0e5bce0fbba.1c' target='_blank'>Mission Intel</a> <a href='https://maps.google.com/maps?ll=35.174866,-80.646965&q=35.174866,-80.646965%20(Russell)' target='_blank'>Map</a></div></li>
<li><div class='address'>Sunset Memorial</div> <div class='buttons'><a href='https://www.ingress.com/mission/d468f5c6a0d04e7cbcf1d65ccfcf5018.1c' target='_blank'>Mission Intel</a> <a href='https://maps.google.com/maps?ll=35.18895,-80.694327&q=35.18895,-80.694327%20(Sunset%20Memory%20Gardens)' target='_blank'>Map</a></div></li>

</ol>


				
			</div>
			<div class="right">
				
				
				
				
<div class="map clten-tn"><a href="/images/missions/clten1.jpg" class="colorbox"><img src="/images/missions/clten1.jpg"/></a></div>
<div class="map clten-tn"><a href="/images/missions/clten2.jpg" class="colorbox"><img src="/images/missions/clten2.jpg"/></a></div>
<div class="map clten-tn"><a href="/images/missions/clten3.png" class="colorbox"><img src="/images/missions/clten3.png"/></a></div>





			</div>
		</div>
	</section>
</div>

















































